@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.card_btn {
    text-decoration: none;
    color:#1c6bba
}